<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About...</title>
</head>
<body>
    <div class="container text-center">
        <h1>About <i>Password Generator</i></h1>
        <p>This is my first project for a web based application, based on <i>Django</i>
        framework.<br>
        For more informations or comments, please 
        <a href="mailto:vviscard@cisco.com?subject=About%20Password%20Generator">
        write me an email</a>.</p>

        <br><br>
        <a href="{% url 'home' %}" class="btn btn-info">Home</a>
    </div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</html>

